{% extends "base.twig" %}
{% block content %}
	
	{% if posts %}
		{% for post in posts|slice(0,1) %}
			<div class="series-archive-header">
				<div class="series-archive-header__wrapper">
					<h1 class="series-archive-header__header">Latest Series</h1>
					<p class="series-archive-header__subheader">Check out our latest series ‘{{ post.title }}’ or search our full archive below.</p>
				</div>
			</div>
			<div class="hero">
				<div class="hero__slide hero__slide--series">
		            <div class="u-abs-full bg-img" style="background-image: url('{{ fn('imgix', post.get_field('series_artwork'), 1400) }}');"></div>
		            <a class="hero-content__button hero-content__button--play" href="{{ post.link }}">View Full Series</a>
		        </div>
			</div>
		{% endfor %}
	{% endif %}

	<section>
		<div class="container">
			<div class="row">
				{% if posts %}
					{% for post in posts %}
						<div class="col-md-6">
						    <a href="{{ post.link }}">
						        <div class="message-card">
						            <div class="message-card__image" style="background-image: url({{ fn('imgix', post.get_field('series_artwork'), 600) }});"></div>
						            <div class="message-card__info message-card-info">
						                <h3 class="message-card-info__title">{{ post.title }}</h3>
						                <p class="message-card-info__subtitle">{{ fn('get_series_date_range', post.id) }}</p>
						            </div>
						        </div>
						    </a>
						</div>
					{% endfor %}
				{% endif %}
			</div>
		</div>
	</section>

{% endblock %}