{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
		<script src='https://www.google.com/recaptcha/api.js'></script>
	</head>
{% endblock %}

	{% if options.alert_title %}
		<div class="alert-wrapper">
			<div class="alert">
				<div class="alert__content">
					<div class="alert__header">{{ options.alert_title }}</div>
					<a class="alert__button" href="{{ options.alert_button_url }}">{{ options.alert_button_text }} &rarr;</a>
				</div>
			</div>
		</div>
	{% endif %}

	<body class="{{body_class}} {% for hero in post.get_field('hero') %}{% if hero.minimal_hero %}minimal-hero{% endif %}{% endfor %}" data-template="base.twig">  {# minimal-hero #}
		<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KLHDPK5" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->
		
		<header>
			<a href="/">
				<div class="logo-primary">
					{% set logo = 'logo.svg' %}
					{{ source(logo) }}
				</div>
			</a>
			{% include 'nav.twig' %}
		</header>

		<main class="site-main">
			{% block content %}
				Sorry, no content
			{% endblock %}
		</main>

		{% block footer %}
			<footer class="site-footer">
				{% include 'footer.twig' %}
			</footer>
			{{ function('wp_footer') }}
		{% endblock %}
	</body>
</html>
