{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
		<script src='https://www.google.com/recaptcha/api.js'></script>
	</head>
{% endblock %}

	<body class="{{body_class}}" data-template="base.twig">
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
			ga('create', 'UA-89123160-1', 'auto');
			ga('send', 'pageview');
		</script>
		
		{% if options.alert_title %}
			<div class="alert-wrapper">
				<div class="alert">
					<div class="alert__content">
						<div class="alert__header">{{ options.alert_title }}</div>
						<div class="alert__subheader">{{ options.alert_subtitle }}</div>
						<a class="alert__button btn" href="{{ options.alert_button_url }}">{{ options.alert_button_text }}</a>
					</div>
				</div>
			</div>
		{% endif %}
		
		<header>
			<a href="/"><img src="{{ theme.link }}/assets/src/img/mark_logo.png'" style="transform: scale(.65);" /></a>
			{% include 'nav.twig' %}
		</header>

		<main class="site-main">
			{% block content %}
				Sorry, no content
			{% endblock %}

			<div class="map">
				<div class="map-card">
					<div class="map-card__title">Join Us</div>
					<div class="map-card__subtitle">Sundays at 10:00am</div>
					<div class="map-card__text">
						Morningside Elementary<br />
						{{ options.church_address }}
					</div>
					<a href="https://www.google.com/maps/dir/29.6189952,-98.2491136/Morningside+Elementary+3855+Morningside+Dr,+New+Braunfels,+TX+78132/@29.6409071,-98.240166,13z/data=!3m1!4b1!4m9!4m8!1m1!4e1!1m5!1m1!1s0x865c96446a33a95b:0xc15395e04b9db72a!2m2!1d-98.1614264!2d29.6587241" class="map-card__button btn btn-secondary">Get Directions</a>
				</div>
				<div id="map" class="u-abs-full bg-img bg-map" data-lattitude="29.658754" data-longitude="-98.161567"></div>
			</div>
		</main>

		{% block footer %}
			<footer class="site-footer">
				{% include 'footer.twig' %}
			</footer>
			{{ function('wp_footer') }}
		{% endblock %}
	</body>
</html>
